useDynLib(DPM, .registration=TRUE)
##import(RcppEigen)
importFrom(Rcpp, evalCpp)
importFrom(survival, survfit, Surv, survreg)
export(mutau, normwrapper, NoGa)
export(rcat, .rgamma, rlgamma, rtnorm, .quantile, Quantile,
       .floor, .ceiling, .sort)
importFrom(DPpackage, DPdensity)
##export(DPdensity)
