useDynLib(nftbart, .registration=TRUE)
S3method(predict, nft)
S3method(predict, nft2)
S3method(predict, aftree)
export(nft, nft2)
export(CDimpute)
export(tsvs, tsvs2)
importFrom(Rcpp, evalCpp)
importFrom("stats", coef, cor, dnorm, pnorm, predict,
           quantile, rbeta, residuals, rnorm, sd, var)
importFrom("graphics", abline, lines, par, points, text)
importFrom("grDevices", dev.off, pdf)
export(bMM, xicuts, Cindex, concordance)
##export(bartModelMatrix)
importFrom(nnet, class.ind)
importFrom(survival, survfit, Surv, survreg)
