useDynLib('btBART', .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
##export(dpmbart, dpmwbart)
export(ptrtbart,ltrtbart,mc.ltrtbart,mc.ptrtbart,wtrtbart,twbarts,tpbarts,tlbarts)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, ar, cor, lm, predict, pnorm, qnorm, qchisq, plogis, qlogis, quantile, residuals, runif, sd)
importFrom(survival, survfit, Surv)
importFrom(tools, psnice)
