useDynLib('qBART', .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export(qbart, mc.qbart)
export(tqbart)
export(plbart)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(tools, psnice)
importFrom(flexsurvcure, flexsurvcure)
importFrom(BART3, bartModelMatrix)
importFrom(survival, Surv)
