useDynLib(qBART, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
export(qbart, mc.qbart)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(tools, psnice)
importFrom(flexsurvcure, flexsurvcure)
