useDynLib(hbart,.registration=TRUE)
export(hbart, predict.hbart)
export(hbartModelMatrix)
export(plotFunctionDraws)
export(hbartqqplot)
importFrom(stats,cor)
importFrom("graphics", "boxplot", "par")
importFrom("graphics", "abline", "lines", "plot", "points")
importFrom("stats", "quantile", "sd","qqplot")
importFrom("stats", "rnorm", "runif")
importFrom(Rcpp, evalCpp)
S3method(predict, hbart)
