useDynLib(hbart,.registration=TRUE)
export(hbart)
##export(hbart, predict.hbart)
export(hbartModelMatrix)
export(plotFunctionDraws)
export(hbartqqplot)
export(xicuts)
export(hbart_Rexport, hbart_Rimport, hbart_save, hbart_vartivity)
importFrom("graphics", "abline", "boxplot", "lines", "plot", "par", "points")
importFrom("stats", "cor", "lm", "qqplot", "quantile", "rnorm", "runif", "sd")
importFrom(Rcpp, evalCpp)
S3method(predict, hbart)
importFrom(stats, ar, lm, predict, pnorm, qnorm, qchisq, plogis, qlogis,
           residuals, coef, vcov)
##export(nftModelMatrix, nft, CDimpute, srstepwise)
##S3method(predict, nft)
importFrom(nnet, class.ind)
importFrom(survival, survfit, Surv, survreg)
