useDynLib('BART3', .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
export(wbart, mc.wbart, pwbart, mc.wbart.gse, mc.pwbart)
export(pbart, mc.pbart)
export(gbart, mc.gbart)
export(ml.gbart, ss.gbart)
export(zbart, mc.zbart, ss.zbart)
export(hbart)
export(abart, mc.abart)
##export(spbart, mc.spbart)
export(stratrs, rs.pbart)
export(lbart, mc.lbart)
export(mbart, mc.mbart)
export(mbart2, mc.mbart2)
export(surv.pre.bart, surv.bart, surv.pwbart, mc.surv.bart, mc.surv.pwbart)
export(recur.pre.bart, recur.bart, recur.pwbart, mc.recur.bart, mc.recur.pwbart)
export(crisk.pre.bart, crisk.bart, mc.crisk.bart, mc.crisk.pwbart)
export(crisk2.bart, mc.crisk2.bart, mc.crisk2.pwbart)
export(crisk3.bart, mc.crisk3.bart, crisk3.pre.bart, mc.crisk3.pwbart)
export(crisk2.mbart, mc.crisk2.mbart, mc.crisk2.mbart.pwbart)
export(mc.cores.openmp)
export(rtnorm, draw_lambda_i, rtgamma)
export(gewekediag, spectrum0ar)
##export(class.ind)
export(bartModelMatrix)
export(srstepwise)
export(read.trees, write.trees)
export(read.forest)
export(EXPVALUE, comb, perm)
export(FPD)   ## new S3 method: Friedman's partial dependence function
export(HDFPD) ## new S3 method: hot deck Friedman's partial dependence function
export(SHAP)  ## new S3 method: SHAP additive explanation function
export(SHAP2) ## new S3 method: SHAP for two-way interactions
export(HDSHAP)## new S3 method: hot deck SHAP additive explanation function
export(HDimpute)
importFrom(Rcpp, evalCpp)
importFrom(nlme, lme)
importFrom(nnet, class.ind)
importFrom(parallel, detectCores)
importFrom(stats, ar, coef, cor, dbinom, dnorm, lm, plogis, pnorm, predict, qchisq, qlogis, qnorm, quantile, residuals, runif, sd, sigma, vcov)
importFrom(survival, survfit, Surv, survreg)
importFrom(tools, psnice)
importFrom(utils, read.table)
importFrom(randomForest, randomForest)
S3method(FPD, wbart)
S3method(FPD, pbart)
S3method(FPD, survbart)
S3method(HDFPD, wbart)
S3method(SHAP, wbart)
S3method(SHAP2, wbart)
S3method(SHAP, survbart)
S3method(SHAP, crisk3bart)
S3method(HDSHAP, wbart)
S3method(predict, wbart)
S3method(predict, pbart)
S3method(predict, survbart)
S3method(predict, recurbart)
S3method(predict, criskbart)
S3method(predict, crisk2bart)
S3method(predict, crisk3bart)
S3method(predict, lbart)
S3method(predict, mbart)
S3method(predict, mbart2)
## export(predict.mbart2)
## export(predict.wbart, predict.pbart, predict.lbart, predict.mbart)
## export(predict.survbart, predict.recurbart)
## export(predict.criskbart, predict.crisk2bart)
##S3method(predict, gbart)
##export(predict.gbart)
